<div
  #draggable *ngIf="task"
  class="task"
  draggable="false"
>
  <div
    #name
    (commitChangesEvent)="changeTaskName($event)" [maxLength]="18"
    appTextEditable
    class="task__name"
  >
    {{task.name}}
  </div>

  <!--  <input-->
  <!--    class="task__name"-->
  <!--    [value]="task.name"-->
  <!--    #name-->
  <!--    (click)="inputClick($event)"-->
  <!--    disabled-->
  <!--  >-->

  <div class="task__controls">
    <button class="task__icon">
      <span></span>
    </button>
    <div class="task__buttons">
      <button (click)="deleteTask()"
              class="task__button"
      >
        Delete
      </button>

      <button
        (click)="archiveTask()"
        *ngIf="isDoneList"
        class="task__button"
      >
        Archive
      </button>
    </div>
  </div>
</div>
